{% extends "base.html" %}

{% block content %}
    <h2>Choose Options and Upload MP3</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.filename.label }}<br>
            {{ form.filename(size=32) }}
        </p>
        <p>{{ form.pol() }} {{ form.pol.label }}</p>
        <p>{{ form.sent() }} {{ form.sent.label }}</p>
        <p>{{ form.freq() }} {{ form.freq.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
