{% extends "base.html" %}

{% block content %}
    <h3>Choose Options and Upload MP3</h3>
    <form action="/uploadMP3" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.filename.label }}<br>
            {{ form.filename(size=32) }}
        </p>
        <p>{{ form.pol() }} {{ form.pol.label }}</p>
        <p>{{ form.sent() }} {{ form.sent.label }}</p>
        <p>{{ form.freq() }} {{ form.freq.label }}</p>
        <p>{{ form.audio() }} {{ form.audio.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
